<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/mycss.css}" rel="stylesheet" />
<meta charset="UTF-8">
<title>Delete Employee</title>
</head>
<body>
	<h1>Delete Employee</h1>
	
	<div class="table-wrapper">
		<table class="fl-table">
			<tbody>
				<tr>
					<td><h2>
							<a href="/"><button class="button">Home</button></a>
						</h2></td>
					<td><h2>
							<a href="/insert"><button class="button">Insert</button></a>
						</h2></td>
					<td><h2>
							<a href="/update"><button class="button">Update</button></a>
						</h2></td>
										<td><h2>
							<a href="/view"><button class="button">View</button></a>
						</h2></td>	
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>